	{{if not (.Param "hide_body_copy_tag")}}</main>{{end}}
</div>
{{- if not (.Param "no_default_includes") -}}
	<script type=module src=/js/headers.js></script>
{{- end -}}
{{- if .Param "toc" -}}
	<script type=module src=/js/toc.js></script>
{{- end -}}
{{- range .Param "js" -}}
	{{- if eq (substr . 0 1) "/"}}
		<script type=module src="{{printf "%v.js" .}}"></script>
	{{- else if and (gt (len .) 8) (eq (substr . 0 8) "https://")}}
		<script type=module src="{{printf "%v" .}}"></script>
	{{- else}}
		<script type=module src="{{printf "/js/%v.js" .}}"></script>
	{{- end -}}
{{- end -}}
